    <div class="container-fluid">
        <div class="row">
            <form action='/profile' method="POST" enctype="multipart/form-data">
            {{#each users}}
            <input type="text" name="id" value={{this.id}}>
                <div class="form-group">
                    <label for="userName">
                        Name: <input required="required" id="userName" name="first_name" type="text" value={{this.first_name}} >
                    </label>
                </div>
                <div class="form-group">
                    <label for="userEmail">
                        Email: <input id="userEmail" name="email" type="text" value={{this.email}} >
                    </label>
                </div>
                <div class="form-group">
                    <label for="inputPassword4">Password :</label>
                    <input type="password" name="password" id="inputPassword4" placeholder="password" value={{this.password}}>
                </div>
                <div class="form-group">
                    <label for="userProfileImage">
                        Image: <input id="userProfileImage" name="profileImage" type="file">
                    </label>
                </div>
                <hr>
                <button class="btn btn-success" type="submit">Submit</button>
                {{/each}}
            </form>
        </div>
        <div class="row">
            <ul>
                {{#each users}}
                    <li>{{this.first_name}}</li>
                    <li>{{this.email}}</li>
                    <li>{{this.profileImage}}</li>
                    <img width="100" alt="profile-image" src="./{{this.profileImage}}" />
                {{/each}}
            </ul>
        </div>
        <hr >
    </div>

    <script>
        console.log('signup page')
    </script>